
validacao/__pycache__/arquivoB.cpython-38.pyc
validacao/__pycache__/malhaModulo.cpython-38.pyc
validacao/__pycache__/matrizesGlobais_.cpython-38.pyc
validacao/__pycache__/matrizesSource.cpython-38.pyc
